/* header
* --------------------------------------- */
#header{
  position:fixed;
  height: 50px;
  display:block;
  width: 100%;
  background: #333;
  z-index:9;
  text-align:center;
}

#header a i{
  color: #f9f9f9;
  padding: 4px;
}

#header a i:hover{
  color: #48A9A6;
}
/* Grouped by Sections
* --------------------------------------- */
.section{
  text-align:center;
}
.devimgs{
  font-size: 5.9em;
  padding: 8px;
  background-color: #5ab1ae;
  border-radius: 25px;
}
.row{
  margin-bottom: 1.3em;
}
#section0{
  background-image: url(../imgs/seattle8.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: 400px;
  background-size: cover;
}

#section0 a, h4, h5, h3{
  color: #f9f9f9 !important;
}
#section0 a:hover{
  color: #48A9A6;
  padding: 4px;
}

h1{
  color: #f9f9f9 !important;
  padding-bottom: .3em;
  padding-top: 1.3em;
}

/*section 3*/
.img-responsive{
  width: 9.5em;
  border-radius: 25px;
  display: inline-block !important;
  background-color: #5ab1ae;
  padding: .2em;
  margin: .2em;
}
