/* header
* --------------------------------------- */
#header{
  position:fixed;
  height: 50px;
  width: 100%;
  background: #1F1F21;
  z-index:9;
  text-align:center;
}
#header a i{
  color: #f9f9f9;
  padding: 4px;
}
#header a i:hover{
  color: #48A9A6;
}
h1, h2, h3, h4, p, a{
  color: #1e1e1e !important;
  font-family: 'Open Sans', sans-serif !important;

}
.container{
  margin-top: 2em;
}
/* Grouped by Sections
* --------------------------------------- */
.section{
  text-align:center;
}
#section0{
  background-image: url(http://i.imgur.com/2Wu00iz.jpg);
  width: 100%;
  height: 400px;
  background-size: cover;
}
#section0 h1{
  color: #f9f9f9 !important;
}
#section0 h2{
  margin-top: 0px;
  font-weight: 300;
}
#section0 a, h2{
  color: #f9f9f9 !important;
}
#section0 a:hover{
  color: #48A9A6;
  padding: 4px;
}

/*section1 skills*/
.devimgs{
  font-size: 5.9em;
  color: #f9f9f9 !important;
  padding: 8px;
  background-color: #1F1F21;
  border-radius: 25px;
}
.row{
  margin-bottom: 1.3em;
}
#section1 h1, #section3 h1{
  margin: 1.5em 0em .5em 0;
}
#section1 hr{
  border-color: #398784 !important;
  width: 25%;
}

/*section2 projects*/
#section2 h1{
  margin: 1.5em 0em .5em 0;
}
#section2 hr{
  border-color: #82a9a8 !important;
  width: 30%;
}
.btn-primary{
  color: #c7e5e4 !important;
}
#section2 a{
  text-decoration: none;
}
#section2 a i{
  font-size: 1.8em;
  color: #1F1F21;
}
/*section 3 timeline*/
.img-responsive{
  border-radius: 10px;
  max-height: 250px;
  display: inline-block !important;
}
.small{
  max-height: 150px;
  border-radius: 100px;
}
.btn{
  margin-top: .5em;
}
.btn-sm{
  background-color: #1F1F21 !important;
  font-style: #f9f9f9;
  border-color: transparent !important;
}
.workpadding{
  padding: 5% 5%;
  margin: 2%;
  background-color: #a6b9de;
  border: 2px solid #677ca7;
  border-radius: 25px;
}
#section3 hr{
  border-color: #677ca7 !important;
  width: 35%;
}
/*section4 contact*/
#section4contact {
  padding: 1em;
  box-shadow: 5px 5px 15px #1e1e1e;
  margin: auto;
  background-color: #72bcd4;
  width: 50%;
  border-radius: 25px;
}
